<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../IMG/logo.png" alt="">
            </a>

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div style="font-size: large;font-weight: bold;" class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#home">HOME</a>
                            <a class="nav-link" href="#shop">SHOP</a>
                            <a class="nav-link" href="#pages">PAGES</a>
                            <a class="nav-link" href="#blog">BLOG</a>
                            <a class="nav-link" href="#contact">CONTACT</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class=" btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn">
                    <i class="fa-solid fa-heart"></i><span class="badge text-bg-secondary">1</span>
                </button>
                <button type="button" class="btn">
                    <i class="fa-solid fa-cart-shopping"></i> <span class="badge text-bg-secondary">3</span>
                </button>
                <p style="text-align: center;margin-top: 20px;">item: <span style="font-weight: bold;">$150.00</span>
                </p>
            </div>
        </div>
    </nav>
</header>